<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid text-uppercase">
      <a class="navbar-brand" href="/">PARK JU HYUN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse sticky-fixed" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/#summary">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#project">Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#stacks">Stacks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#salary">Salary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#guestbook">GuestBook</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>