{% load static %}
<section class="container pt mt" id="project">
<h2 class="section-header fonsiz-xxxl fonwei-en-xxl letsp-sm text-upper color-basic">Project</h2>
<div class="section-desc fonsiz-sm color-basic-opac letsp-sm ws-xs mt-2 mb-4"></div>
<div class="card shadow">
    <div class="card-body">
    <div class="table-responsive">
        <table class="table borderless table-hover align-middle">
        <thead class="border-0 borderless" border="0">
            <tr class="fonsiz-sm fonwei-kr-md letsp-sm color-basic-opac text-center vertmid">
            <th>프로젝트</th>
            <th>소개</th>
            <th>개발 참여도</th>
            <th>추가 정보</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th class="table-title" scope="col">Pick Ban Tool</th>
            <td>
                <div>[ PickBan Tool ] 팀원들과 함께 League of Legends의 밴픽창을 트레이싱</div>
                <div>
                #LeagueofLegends #롤 #PickBan #밴픽
                </div>
                <div>
                <span class="badge bg-inprogress">In Progress</span>
                <span class="badge bg-grey">Python</span>
                </div>
            </td>
            <td class="text-center">
                <div class="">( ~ M/M)</div>
                <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%">
                    <span class="progress-desc">개발중</span>
                </div>
                </div>
                <div class="progress-desc">챔피언클래스 및 타이머 제작</div>
            </td>
            <td class="text-center">
                <span class="text-muted" data-bs-toggle="modal" data-bs-target="#Modal1">
                <i class="bi bi-file-earmark-slides"></i>
                <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="Modal1Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="Modal1Label">Pick Ban Tool</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <img src="{% static './assets/img/pickbantool.png'%}" alt="" width=400" >
                        <p class="modal-desc">
                            <PickbanTool href=https://github.com/Liqueuer/p.m.10></href> https://github.com/Liqueuer/p.m.10 </PickbanTool>
                        </p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                </span>
            </td>
            </tr>
            <tr>
            <th class="table-title" scope="col">백준 온라인 저지</th>
            <td>
                <div>[ Online Judge ] 팀원들과 함께 코딩 공부를 하고 있습니다.</div>
                <div>
                #BeakJoon #OnlineJudge #백준 #코딩 연습
                </div>
                <div>
                <span class="badge bg-inprogress">In Progress</span>
                <span class="badge bg-grey">Python</span>
                <span class="badge bg-grey">Java</span>
                </div>
            </td>
            <td class="text-center">
                <div class="">( ~ M/M)</div>
                <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%">
                    <span class="progress-desc">연습중</span>
                </div>
                </div>
                <div class="progress-desc">코딩 &nbsp;연습</div>
            </td>
            <td class="text-center">
                <span class="text-muted" data-bs-toggle="modal" data-bs-target="#Modal2">
                <i class="bi bi-file-earmark-slides"></i>
                <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="Modal2Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="Modal2Label">백준 온라인 저지</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <img src="{% static './assets/img/solved-ac.png'%}" alt="" width=400 >
                        <p class="modal-desc">
                            <solvedac href=https://solved.ac/profile/parkjuhyeun></href>https://solved.ac/profile/parkjuhyeun </solvedac>
                        </p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                </span>
            </td>
            </tr>
            <tr>
            <th class="table-title" scope="col">프로젝트 오일러</th>
            <td>
                <div>[ Project Euler ] 팀원들과 백준으로 코딩 연습을 하기 전에 했던 사이트</div>
                <div>
                #프로젝트 오일러 #잠깐 #코딩연습
                </div>
                <div>
                <span class="badge bg-renewal">Done</span>
                <span class="badge bg-grey">Java</span>
                <span class="badge bg-grey">Python</span>
                </div>
            </td>
            <td class="text-center">
                <div class="">(1M/M)</div>
                <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" style="width: 100%">
                    <span class="progress-desc">6%</span>
                </div>
                </div>
                <div class="progress-desc">코딩 &nbsp;연습</div>
            </td>
            <td class="text-center">
                <span class="text-muted" data-bs-toggle="modal" data-bs-target="#Modal3">
                <i class="bi bi-file-earmark-slides"></i>
                <div class="modal fade" id="Modal3" tabindex="-1" aria-labelledby="Modal3Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="Modal3Label">프로젝트 오일러</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <img src="{% static './assets/img/projecteuler.png'%}" alt="" width=400 >
                        <p class="modal-desc">
                            <euler href="https://euler.synap.co.kr/prob_list.php?pg=1"></href>https://euler.synap.co.kr/prob_list.php?pg=1</euler>
                        </p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                </span>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="table-desc fonsiz-xs fonwei-kr-sm letsp-sm text-center color-basic-opac">프로젝트들은 최근 개발한 순으로 정렬되어 있습니다</div>
    </div>
</div>
</section>