{% load static %}
<section class="container pt mt mb-5" id="stacks">
    <h2 class="section-header fonsiz-xxxl fonwei-en-xxl letsp-sm text-upper color-basic">Stacks</h2>
    <div class="section-desc fonsiz-sm color-basic-opac letsp-sm ws-xs mt-2 mb-4">
    </div>
    <div class="card shadow">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover align-middle">
            <thead>
              <tr class="fonsiz-sm fonwei-kr-md letsp-sm color-basic-opac text-center vertmid">
                <th>기술 구분</th>
                <th>로고</th>
                <th>활용 수준</th>
                <th>평가</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="col" class="table-title letsp-md">C</th>
                <td>
                  <a href="https://ko.wikipedia.org/wiki/C_(%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%96%B8%EC%96%B4)" target="_blank">
                    <img src="{% static './assets/img/c.png'%}" alt="C Logo" />
                  </a>
                </td>
                <td>
                  C언어를 사용해서 프로젝트를 해본 경험이 있으며 저를 객관적으로 보았을 때 메모리 관리 능력이 다소 떨어진다고 생각합니다!
                </td>
                <td>
                  <div class="star-icon text-center">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="col" class="table-title letsp-md">C++</th>
                <td>
                  <a href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank">
                    <img src="{% static './assets/img/cpp.png'%}" alt="C++ Logo" />
                  </a>
                </td>
                <td>
                  C++은 객체지향프로그래밍의 기본으로서 클래스를 잘 다루고 MFC를 이용한 프로젝트를 진행해본 경험이 있습니다!                
                </td>
                <td>
                  <div class="star-icon text-center">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="col" class="table-title letsp-md">Java</th>
                <td>
                  <a href="https://ko.wikipedia.org/wiki/%EC%9E%90%EB%B0%94_(%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%96%B8%EC%96%B4)" target="_blank">
                    <img src="{% static './assets/svg/java.svg'%}" alt="Java Logo" />
                  </a>
                </td>
                <td>
                  Java는 현재 배우고 있는 도중이며 CPP에서 배웠던 기본적인 내용들을 응용하는 과정에 있습니다!
                </td>
                <td>
                  <div class="star-icon text-center">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="col" class="table-title letsp-md">Python</th>
                <td>
                  <a href="https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%8D%AC" target="_blank">
                    <img src="{% static './assets/svg/python.svg'%}" alt="Python Logo" />
                  </a>
                </td>
                <td>
                  팀원들과 같이 Python을 배우고 있으며 인터프리터식 언어로 다른 프로그램과는 살짝 다른 부분이 어렵게 느껴지긴 합니다!
                </td>
                <td>
                  <div class="star-icon text-center">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="col" class="table-title letsp-md">AWS</th>
                <td>
                  <a href="https://koajs.com/" target="_blank">
                    <img src="{% static './assets/img/aws.png'%}" alt="AWS Logo" />
                  </a>
                </td>
                <td>
                  AWS환경을 이용해 서버를 돌려본 경험이 있으니 비용적인 문제로 인해 장시간 서버는 돌려본적 없습니다.
                </td>
                <td>
                  <div class="star-icon text-center">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="col" class="table-title letsp-md">HTML</th>
                <td>
                  <a href="https://ko.wikipedia.org/wiki/%EC%9E%90%EB%B0%94_(%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%96%B8%EC%96%B4)" target="_blank">
                    <img src="{% static './assets/img/html5.png'%}" alt="Java Logo" />
                  </a>
                </td>
                <td>
                  HTML을 이용해 웹페이지를 구성할 수 있으며 가끔가다가 모르는 부분이 있어 실수할 때가 있습니다.
                </td>
                <td>
                  <div class="star-icon text-center">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="col" class="table-title letsp-md">CSS</th>
                <td>
                  <a href="https://ko.wikipedia.org/wiki/%EC%9E%90%EB%B0%94_(%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%96%B8%EC%96%B4)" target="_blank">
                    <img src="{% static './assets/img/css3.png'%}" alt="Java Logo" />
                  </a>
                </td>
                <td>
                  CSS로 웹페이지를 디자인 할수 있으며 디자인 쪽의 능력이 부족해 디자인을 잘 하지는 못합니다.
                </td>
                <td>
                  <div class="star-icon text-center">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="col" class="table-title letsp-md">JavaScript</th>
                <td>
                  <a href="https://ko.wikipedia.org/wiki/%EC%9E%90%EB%B0%94_(%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%96%B8%EC%96%B4)" target="_blank">
                    <img src="{% static './assets/img/js.png'%}" alt="Java Logo" />
                  </a>
                </td>
                <td>
                  현재 JavaScript를 배우고 있으며 초기 단계이기에 많은 부분이 미숙합니다. 하지만 BootStrap5를 사용할 수 있습니다!
                </td>
                <td>
                  <div class="star-icon text-center">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-desc fonsiz-xs fonwei-kr-sm letsp-sm text-center color-basic-opac">객관화하기 어려운 관계로, 제가 이해하고 구현할 수 있는 수준을 작성했습니다.</div>
      </div>
    </div>
</section>